*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


body{
width: 100%;
height: 100vh;
}


.container{
width: 100%;
height: 100vh;  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


input[type="Search"]{
    width: 28rem;
    height: 3.6rem;
    border-radius: 25px;
    margin-left: 20px;
    padding: 12px 15px;
    font-size: 17px;
    border: 2px solid grey;
    outline: none;
}


